/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #607d8b;
  --ifm-color-primary-dark: #546e7a;
  --ifm-color-primary-darker: #455a64;
  --ifm-color-primary-darkest: #37474f;
  --ifm-color-primary-light: #78909c;
  --ifm-color-primary-lighter: #90a4ae;
  --ifm-color-primary-lightest: #b0bec5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #90a4ae;
  --ifm-color-primary-dark: #78909c;
  --ifm-color-primary-darker: #607d8b;
  --ifm-color-primary-darkest: #546e7a;
  --ifm-color-primary-light: #b0bec5;
  --ifm-color-primary-lighter: #cfd8dc;
  --ifm-color-primary-lightest: #eceff1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
